<section  class="nav-breadcrumb">
        <ul class="breadcrumb">
            <li>
                <a>Inicio</a>
            </li>
            <li>
                <a>Libros</a>
            </li>
        </ul>
    </section>

    <div class="book" id="book">    
            <h1>Book 1</h1>
            <div class="book-description"> 
                <p>
                    kodposdof sopdkpofsdpokfðsdófksokđøßdkofksdopf ksopdjvpsj pvĸßøþ
            
                </p>
            </div>
            <div class="book-image">
                <img src="./images/thumbnails/book-1.jpg">
            </div>                
    </div> 